body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f2f4f4;
}

header {
  display: flex;
  background-color: #17202a;
  padding: 20px 0px;
  h3 {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}

.articleContent {
  height: 50vh;
  font-size: 3rem;
  h3 {
    text-align: center;
  }
  article {
    margin-left: 10px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  align-items: center;
  img {
    width: 100px;
  }
  a {
    text-decoration: none;
    color: #7d3c98;
  }
}
