body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f2f4f4;
}

#headeris {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  background-color: #17202a;
  padding: 20px 0px;
}

#headeris h4 {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#headeris a {
  text-decoration: none;
}

#headeris h4:hover {
  color: #0089ef;
}

.articleContent {
  width: 90%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.articleContent article {
  margin-left: 10px;
}

.articleContent #updateForm {
  width: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 100px;
}

.logo h3:hover {
  text-decoration: none;
}

.logo a {
  color: #0089ef;
}

.logo a:hover {
  text-decoration: none;
  color: #0089ef;
}

#login {
  margin-top: 100px;
}

#login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login form input {
  margin-bottom: 10px;
}

#login #loginButton {
  border: none;
  cursor: pointer;
  border: solid 1px #2e86c1;
  border-radius: 20px;
}

.adminEdit {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

#updateForm {
  width: 90%;
  margin: auto;
}

#updateForm input {
  margin-bottom: 20px;
}

#updateForm input:last-child {
  margin-top: 30px;
}

#updateForm .form-control {
  line-height: 3.5;
}

#addForm input {
  margin-bottom: 20px;
}

#addForm input:last-child {
  margin-top: 30px;
}

#addForm .form-control {
  line-height: 3.5;
}

.pageInf {
  margin-bottom: 40px;
}

.pav {
  text-align: center;
  margin-bottom: 50px;
}

.deletebtn {
  color: #ff1303;
  text-decoration: none;
  margin-left: 10px;
}

.deletebtn:hover {
  color: #bf1004;
}

#addSuccesfully,
#delSuccesfully,
#upSuccesfully {
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #28a745;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

#addSuccesfully h5,
#delSuccesfully h5,
#upSuccesfully h5 {
  margin: 0px;
}

#delSuccesfully {
  background-color: #2e86c1;
}

#upSuccesfully {
  background-color: #fb7900;
}
/*# sourceMappingURL=styles.css.map */